<h1>books</h1>
<a href="/books/form">add a new location</a>

<ul>
 {{#each books}}
   <li>
    <a href="/books/show/{{this.id}}">{{this.id}} - {{this.title}} - {{this.publicationYear}} </a>
    <a href="/books/edit?id={{this.id}}">edit</a>
  </li>
 {{/each}}
</ul>
